.carrito{
    min-height: 70vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.table__productos{
    display: flex;
}
.table__productos > img{
    width: 9rem;
    object-fit: contain;
    margin-right: 20px;
}
.table__cantidad > input{
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700px;
    margin-right: 30px;
    margin-bottom: 20px;
}
.ancho-max{
    width: 50%;
}
.ancho-min{
    min-width:20px;
}
.overflow{
    overflow: hidden;
}

.alert{
    width: 100%;
    text-align: center;
    z-index: 100;
    position: fixed;
    top: 3px
}
.hide{
    display: none;    
}


.ancho{
    width: 40%;
}
.oculta{
    display: none;
}

.carrusel{
    margin: 0 0;
    width: 100%;
    height: auto;
}

.carruselOculto{
    display: none;
}
.flecha{
    width: 6%;
    position: fixed;
}
.fondoNekoSalon{
    margin: 1%;
    width: 50%;
    max-width: 100%;
}
.boton-inicio{
    width: 100%;
    height: 80px;
    font-weight: 500;
    font-size: 17px;
}
.boton-inicio a{
    text-decoration: none;
    color: black;
}
.fondo{
    background-color: black;
    height: 900px;
}
.logo{
    margin-top: 1% ;
    width: 50%;
    background-color:#FFFDD0;
}
.logo img{
    width: 12%;
}
.letra{
    font-size: 30px;
}

@media only screen and (min-width: 0) and (max-width: 768px){
    .mesitas{
        display: grid;
            grid-template-areas:
            "mesitas1"
            "mesitas2"
            ;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }
    #mesitas1 {
        grid-area: mesitas1;
        margin: 5% 0%;
    }
    #mesitas2 {
        grid-area: mesitas2;
        margin: 5% 0%;
    }

    .letra{
        font-size: 25px;
    }
}

.fooTop{
    background-color: #272727;
    padding-bottom: 2%;
}
    .fooTop__lista{
        padding: 2% 0 0 0;
        list-style-type: none;
        display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        margin-bottom: 0;
    }

    .fooTop__topImg {
        display: flex;
            flex-direction: row;
            justify-content: center;
    }
    .fooTop__topImg img {
                width: 40px;
                padding: 2%;
                filter: grayscale(100%);
                transition: filter 0.4s;
            }
    .fooTop__topImg  img:hover{
                    filter: grayscale(0%);
                }
            
        
.fooTop__lista h2 {
        color: #efefef;
        text-transform: uppercase;
        font-size: 17px;
        text-align: center;
        padding: 5% 0;
    }

.fooBot {
    display: flex;
        align-items: center;
    background-color: #272727;
    margin-top: 1px;
    overflow: hidden;
}
.fooBot h4{
        color: #efefef;
        padding: 20px;
        font-size: 16px;
    }


.fooTop .fooTop__lista li a{
    text-decoration: none;
}
.delivery{
    font-size: 22px;
    font-weight: bold;
    margin: 1% 0;
}

#salon{
    padding: 3% 0;
}
body {
    font-family: 'Montserrat', sans-serif;}
